{% extends "base.html" %}

<!-- 内容区 -->
{% block left %}

<div class="col-12">
    {% for wb in wb_list %}
    <div class="alert alert-light shadow" role="alert">
        <div class="text-left">
            <a href="#">{{ users[wb.user_id].nickname }}：</a>
        </div>
        <hr />
        <p>{{ wb.content }}</p>
        <div class="text-right">
            <a class="text-secondary" href="/weibo/show?weibo_id={{ wb.id }}">
                {{ wb.created }}
            </a>
        </div>
    </div>
    {% end %}

    <nav aria-label="微博页数">
        <ul class="pagination pagination-md justify-content-center">
            {% for page in range(1, all_pages + 1) %}
            <li class="page-item {% if page == cur_page %}disabled{% end %}">
                <a class="page-link" href="/?page={{ page }}">{{ page }}</a>
            </li>
            {% end %}
        </ul>
    </nav>
</div>

{% end %}
