{% extends "base.html" %}

<!-- 扩展 CSS -->
{% block ext_css %}
<style>
    .item {
        background-color: transparent;
    }
</style>
{% end %}
<!-- 内容区 -->
{% block left %}

<div class="jumbotron">
    <h1 class="display-4">用户信息</h1>
    <br />
    <ul class="list-group list-group-flush">
        <li class="list-group-item item">昵称：{{ user.nickname }}</li>
        <li class="list-group-item item">性别：{{ user.gender }}</li>
        <li class="list-group-item item">城市：{{ user.city }}</li>
        <li class="list-group-item item">简介：{{ user.bio }}</li>
    </ul>
</div>
{% end %}
